/* navbar style */
.navbar {
  /* color: rgba(39, 174, 96, 0.65); */
  color: #222;

  padding: 0.2rem;
}
nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-item {
  margin: 10px;
  cursor: pointer;
}
.nav-item > label {
  cursor: pointer;
  border: 2px solid rgba(39, 174, 96, 0.65);
  border-radius: 15px;
  padding: 2px 1rem;
  font-weight: 600;
  transition: all 0.4s;
}
.nav-item > label:hover {
  background-color: rgba(39, 174, 96, 0.65);
  color: #f2f2f2;
}
.nav-link {
  /* color: rgba(39, 174, 96, 0.65); */
  color: #222;
  padding: 2px 1rem;
  text-decoration: none;
  border: 2px solid rgba(39, 174, 96, 0.65);
  border-radius: 15px;
  font-weight: 600;
  font-family: Rokkitt;
  transition: all 0.4s;
}
.nav-link:hover {
  background-color: rgba(39, 174, 96, 0.65);
  color: #f2f2f2;
}
.learnings {
  position: absolute;
  top: 2.5rem;
}
.learnings > .nav-link {
  display: inline-block;
  margin: 2px;
}
